table td:nth-child(2) {
    width: 300px;
}

.photo {
    max-width: 100px;
    margin: 0 auto;
    display: block;
    opacity: 0.5;
}

.alert {
    min-height: 120px;
}

.table>tbody>tr>td {
    width:auto;
}

.placesTable>tbody>tr>td{
    padding: 0;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.placesTable td {
    color: transparent;
}

.placesTable tr:first-child td,
.placesTable td:first-child {
    color: #000;
}



.placesTable td:hover {
    background: #ccc;
    color: #000;
    cursor: default;
}

.placesTable tr:first-child td:hover,
.placesTable td:first-child:hover {
    background: transparent;
    color: #000;
}

.placesTable td.choose {
    background: lightgreen;
    color: #000;
}

.error,
.error:focus{
    border-color: red;
}

.success,
.success:focus{
    border-color: #2b542c;
}